:root{
    --color-primario:#121212;
    --color-bg-input: rgba(196,196,196,0.3);
    --color-parrafo:#594f43;
    --color-blanco: #fff;
    --fuente-principal:"Work Sans",sans-serif;
}

html {
    box-sizing: border-box;
}
  
*,*:before,*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
  
body{
    height: 100vh;
}

.card_container{
    background-color: white;
    height: 100%;
    width: 1728px;
}
.card_header{
    height: 96px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 120px;
    padding-right: 122.67px;
    max-width: 1728px;
    width: 100%;
    border-bottom: 1px dotted #000000;
}

.card_header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.card_header_nav-title p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    color: #1B1A19;
    padding-right: 10px;
}

.card_header-nav .card_header_nav-text{
    display: flex;
    font-family: 'Work Sans';
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    gap: 23px;    
}
.card_header_icon{
    display: flex;
    justify-content: space-between;
    gap: 29.33px;
    
}

.card_header_icon img{
    width: 26.67px;
    height: 26.67px;
}

.card_section_present{
    display: flex;
    justify-content: space-between;
    gap: 192px;
    padding-left: 122px;
    padding-right: 132px;
    margin-top: 54px;
}
.card_section_present-imagePerson img{
    width: 733px;
    height: 541px;
}

.card_section_present-button{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #000000;
    color: white;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-radius: 15px;
    width: 179px;
    height: 60px;

}
.card_section_present_button-image img{
    width: 22px;
    height: 22px;
}
.card_section_present_button-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.card_section_present-title{
    margin-top: 24px;
    width: 549px;
    height: 240px;
}
.card_section_present-title p{
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
}
.card_section_present-buttons{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 115px;
}
.card_section_present-button1{
    flex-direction: row;
    gap: 1px;
    background-color: #000000;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 220px;
    height: 60px;
}
.card_section_present-button1 p{
    color: white;
}

.card_section_present-button2{
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 58px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    width: 220px;
    height: 60px;
    border: 3px solid #000000;
}
.card_section_present-button2 p{
    color: #000000;
}

.card_section_content{
    padding-left: 120px;
    padding-right: 123px;
    background-color: rgba(0, 0, 0, 0.93);
    width: 100%;
    height: 1699px;
    margin-top: 115px;
    padding-top: 70px;
}
.card_section_content-title{
    display: flex;
    align-items: center;
    gap: 45px;
    color: white;
    margin-bottom: 65px;
    width: 571px;
    height: 50px;

}
.card_section_content_title-main p{
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: white;
}

.card_section_content_title-bootom{
    width: 240px;
    height: 60px;
}

.card_section_content_title-bootom p{
    border: 3px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 38.5px;
    padding-right: 38.5px;
}

.card_section_content-data{
    display: flex;
    align-items: center;
    gap: 124px;
    height: 414px;
    border-radius: 34px;
    margin-top: 65px;
    background-color: #fff;
    width: 1485px;
    height: 414px;
    padding-left:114px;
    padding-right: 124px;
    padding-top: 48px;
    padding-bottom: 48px;

}

.card_section_content_data_text{
    /*background-color: #594f43;*/
}

.card_section_content_data_text-header{
    width: 248px;
    height: 48px;
    /*background-color: aqua;*/
}
.card_section_content_data_text-header p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
}

.card_section_content_data_text-main{
    margin-top: 4px;
    /*background-color: aquamarine;*/
    width: 623px;
    height: 248px;
}
.card_section_content_data_text-main p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}

.card_section_content_data_text-footer{
    width: 113px;
    height: 36px;
    /*background-color: brown;*/
}

.card_section_content_data_text-footer p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.card_section_content_data_image{
    width: 624px;
    height: 414px;
}

.card_section_content_data_image img{
    display: block;
    height:100%;
}


/*Card View 2*/
.card_section_content-data2{
    display: flex;
    align-items: center;
    gap: 124px;
    border-radius: 34px;
    margin-top: 57px;
    background-color: #fff;
    width: 1485px;
    height: 414px;
    padding-left:114px;
    padding-right: 124px;
    padding-top: 81px;
    padding-bottom: 87px;
}

.card_section_content_data_text2{
    /*background-color: #594f43;*/
}

/*text header2*/
.card_section_content_data_text-header2{
    width: 232px;
    height: 48px;
    /*background-color: aqua;*/
}

.card_section_content_data_text-header2 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
}

/*text main2*/
.card_section_content_data_text-main2{
    margin-top: 4px;
    /*background-color: aquamarine;*/
    width: 623px;
    height: 150px;
}

.card_section_content_data_text-main2 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}
/*text footer2*/
.card_section_content_data_text-footer2{
    width: 113px;
    height: 36px;
    /*background-color: brown;*/
}

.card_section_content_data_text-footer2 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.card_section_content_data_image2{
    padding-top: 5px;
    width: 900px;
    height: 419px;
}

.card_section_content_data_image2 img{
    display: block;
    height:100%;
}

/*Card View3*/

.card_section_content-data3{
    display: flex;
    align-items: center;
    gap: 124px;
    border-radius: 34px;
    margin-top: 57px;
    background-color: #fff;
    width: 1485px;
    height: 414px;
    padding-left:114px;
    padding-right: 124px;
    padding-top: 102px;
    padding-bottom: 102px;
}

.card_section_content_data_text3{
    /*background-color: #594f43;*/
}

/*text header2*/
.card_section_content_data_text-header3{
    width: 268px;
    height: 48px;
    /*background-color: aqua;*/
}

.card_section_content_data_text-header3 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
}

/*text main2*/
.card_section_content_data_text-main3{
    margin-top: 4px;
    /*background-color: aquamarine;*/
    width: 623px;
    height: 110px;
}

.card_section_content_data_text-main3 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}
/*text footer2*/
.card_section_content_data_text-footer3{
    width: 113px;
    height: 36px;
    /*background-color: brown;*/
}

.card_section_content_data_text-footer3 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.card_section_content_data_image3{
    width: 624px;
    height: 414px;
}

.card_section_content_data_image3 img{
    display: block;
    height:100%;
}